* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Space Grotesk', sans-serif;
}

$accent-color: #B9FF66;
$bg-color: #FFFFFF;
$text-color: #000000;
$grey: #f3f3f3;
$dark: #191A23;

@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

ul {
  list-style-type: none;
}
