@import './config';

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 50
}

body {
  background-color: $bg-color;
  color: $text-color;
}

#app {
  @include flex-column;
  width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

@media (max-width: 1439px) {
  #app {
    width: 100%;
    padding: 0;
  }
}